{% extends 'blog/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Comfortaa&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Django Dewiteyou blog</title>
    </head>
    <body>
        <header class="page-header">
            <div class="container">
                <h1><a href="/">Django Dewiteyou Blog</a></h1>
            </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col">
                    {% block content %}
                        <article class="post">
                            <aside class="actions">
                                {% if user.is_authenticated %}
                                    <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                                        {% include './icons/pencil-fill.svg' %}
                                    </a>
                                {% endif %}
                            </aside>
                            {% if post.published_date %}
                                <time class="date">
                                    {{ post.published_date }}
                                </time>
                            {% endif %}
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </article>
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>